<% if current_user %>
  <h4>Add a comment:</h4>
  <%= form_for [post, comment], remote: true do |f| %>
    <%= f.text_area :body, rows: 2, cols: 100,  placeholder: 'Type your comments here...' %>
    <%= f.submit "Submit" %>
  <% end %>
<% end %>

